* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

html, body {
  height: 100%;
  width: 100%;
}


body {
  color: black;
  background: url("./web1.jpg");
  background-position: center;
  background-size: cover;
  margin: 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.my-object {
  border: 2px solid white;
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding: 15px;
  border: transparent;
  text-decoration: none;
  font-style: none;
  background-color: transparent;
}

a {
  color: white;
  text-decoration: none;
}

button:hover {
  background-color: black;
}


p {
color: white;  
}

.myTime {
  position: absolute;
  bottom: 0;
}
